In [ ]:
# file name: 3.3_data_overview.py
# Import the neccessary library
import pandas as pd

# ----------------------------------------------------------------------------------------------
# 1. Load the dataset and create a variable summary
# ----------------------------------------------------------------------------------------------
# Load the raw data into a pandas DataFrame
student_df = pd.read_csv("../../../data/raw/student_performance_dataset.csv")
summary = pd.DataFrame(
    {
        "dtype": student_df.dtypes.astype(
            str
        ),  # Convert dtypes to string for better readability
        "n_missing": student_df.isna().sum(),  # Count of missing values
        "pct_missing": student_df.isna().mean().round(2)
        * 100,  # Percentage of missing values
        "n_unique": student_df.nunique(),  # Number of unique values
    }
)  # Create initial summary DataFrame
desc = student_df.describe(
    include="all"
).T  # Get descriptive statistics for all columns
summary = summary.join(
    desc[["mean", "std", "min", "25%", "50%", "75%", "max"]], how="left"
)  # Join descriptive statistics  to the summary

# Move the index (variable names) into a column called 'Columns'
summary = summary.reset_index().rename(columns={"index": "Columns"})

In [ ]:
# ----------------------------------------------------------------------------------------------
# 2. Export the Variable Summary to Excel Format
# ----------------------------------------------------------------------------------------------
# Save to Excel file without the index
summary.to_excel("3.3_variable_summary.xlsx", index=False)
print("Variable summary saved to 3.3_variable_summary.xlsx")

# Read the excel file to verify
student_df_excel = pd.read_excel("3.3_variable_summary.xlsx")
# Display the dataframe
student_df_excel

Variable summary saved to 3.3_variable_summary.xlsx

,Columns,dtype,n_missing,pct_missing,n_unique,mean,std,min,25%,50%,75%,max
0,Student_ID,object,0,0,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gender,object,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Study_Hours_per_Week,int64,0,0,30,26.132768,8.877727,10.00000,19.000000,27.000000,34.000000,39.000000
3,Attendance_Rate,float64,0,0,500,78.107722,13.802802,50.11697,67.550094,79.363046,89.504232,99.967675
4,Past_Exam_Scores,int64,0,0,51,77.871469,14.402739,50.00000,65.000000,79.000000,91.000000,100.000000
5,Parental_Education_Level,object,0,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Internet_Access_at_Home,object,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Extracurricular_Activities,object,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Final_Exam_Score,int64,0,0,27,58.771186,6.705877,50.00000,52.000000,59.500000,64.000000,77.000000
9,Pass_Fail,object,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN